<div class="stepsdemo-content">
  <p-card>
    <ng-template pTemplate="title"> Personal Information </ng-template>
    <ng-template pTemplate="subtitle"> Enter your personal information </ng-template>
    <ng-template pTemplate="content">
      <div class="p-fluid">
        <div class="field">
          <label for="firstname">Firstname</label>
          <input

            id="firstname"
            type="text"
            required
            pInputText />
        </div>
        <div class="field">
          <label for="lastname">Lastname</label>
          <input  id="lastname" type="text" required pInputText   />
        </div>
        <div class="field">
          <label for="age">Age</label>
          <input  id="age" type="number" required pInputText  />
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="footer">
      <div class="grid grid-nogutter justify-content-end">
        <p-button label="Next" (click)="nextPage()"  icon="pi pi-angle-right" iconPos="right"></p-button>
      </div>
    </ng-template>
  </p-card>
</div>
