<div class="card py-3">
  <h1 class="text-2xl text-center">Welcome to V-Message</h1>
</div>

<!-- View the image from google drive all users can see   -->
<!-- <div class="card">
  <img src="https://drive.google.com/uc?export=view&id=1Fs4PFEQQYzkIVGpOfMJFspO70TIDrWNP" alt="" srcset="">
</div> -->
<!-- <img src="https://drive.google.com/file/d/1Fs4PFEQQYzkIVGpOfMJFspO70TIDrWNP/view?usp=sharing" alt="" srcset=""> -->

<!-- https://drive.google.com/uc?export=view&id=[image_id]  -->

<!-- prototype for rent landing page  -->
<app-product-showcase></app-product-showcase>
<!-- <app-steper-form></app-steper-form> -->
<!-- <app-login></app-login> -->
<!-- <app-dashboard></app-dashboard> -->
<!-- Render Child Component -->
<div class="card">
  <router-outlet></router-outlet>
</div>
