<div class="app-container">
  <div class="card my-5 flex gap-3 align-items-center align-content-center">
    <p-button label="Check"  icon="pi pi-check"></p-button>
    <div class="card flex justify-content-center">
      <p-button (click)="showDialog()" icon="pi pi-external-link" label="Show"></p-button>
      <p-dialog header="Header" [(visible)]="visible" [style]="{width: '50vw'}">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </p-dialog>
    </div>
    <div class="card flex justify-content-center">
      <div class="flex align-content-center align-items-center gap-3">
        <input type="text" pInputText [(ngModel)]="priceRange" class="w-full"/>
        <p-slider [(ngModel)]="priceRange" class="w-full"></p-slider>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card flex">
      <span class="p-input-icon-left w-full">
      <i class="pi pi-search"></i>
      <input class="w-full" type="text" pInputText pAutoFocus [autofocus]="true" placeholder="Search product here"  />
      </span>
    </div>
  </div>
<!--  <p-divider></p-divider>-->
  <div class="card my-3">
    <div class="card flex gap-3 flex-wrap justify-content-center">
      <div class="card" *ngFor="let prod of products;index as i;">
        <p-card [header]="prod.title" [subheader]="prod.category" [style]="{ width: '360px' }">
          <ng-template pTemplate="header">
            <img class="p-5"  alt="Card" [src]="prod.image" />
          </ng-template>
          <div class="card flex align-items-center justify-content-between py-3">
            <div class="flex gap-2 align-items-center justify-content-center ">
              <span class="text-xl">{{prod.rating.rate}}</span>
              <p-rating [(ngModel)]="prod.rating.rate" [cancel]="false"></p-rating>
            </div>
            <span class="text-2xl">{{prod.price | currency:'INR'}}</span>
          </div>

          <div class="card flex">
            <p-panel header="Description" [toggleable]="true">
              <p>
                {{prod.description}}
              </p>
            </p-panel>
          </div>
          <ng-template  pTemplate="footer">
            <div class="flex justify-content-center align-items-center gap-3">
              <p-button label="Buy" icon="pi pi-check"></p-button>
              <p-button label="Add to cart" icon="pi pi-shopping-cart" styleClass="p-button-success" ></p-button>
            </div>
          </ng-template>
        </p-card>
      </div>
    </div>

  </div>
<!--  <router-outlet></router-outlet>-->
</div>
<p-divider></p-divider>
<div class="card flex justify-content-center align-items-center mb-8">
  <div class="speeddial-circle-demo">
    <p-toast position="top-center"></p-toast>
    <p-speedDial  [model]="items" [radius]="120" direction="up-left" type="quarter-circle" buttonClassName="p-button-success"></p-speedDial>
  </div>
</div>
