
/*  Speed Dial  */
:host ::ng-deep {
  .speeddial-circle-demo {
      .p-speeddial-quarter-circle {
          &.p-speeddial-direction-up-left {
              right: 0;
              bottom: 0;
          }

          &.p-speeddial-direction-up-right {
              left: 0;
              bottom: 0;
          }

          &.p-speeddial-direction-down-left {
              right:0;
              top: 0;
          }

          &.p-speeddial-direction-down-right {
              left: 0;
              top: 0;
          }
      }
  }
}
