<div class="page-content" style="max-height: calc(100vh - 149px)">
  <h2 style="color: green">GeeksforGeeks</h2>
  <h4>Angular PrimeNG Table Responsive</h4>
  <!--  responsiveLayout="scroll | stack"-->
  <p-table
    responsiveLayout="stack"
    [value]="tableData"
    scrollHeight="flex">
    <ng-template pTemplate="header">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
      </tr>
    </ng-template>

    <ng-template
      pTemplate="body"
      let-rowData="rowData"
      let-people
      sortMode="multiple">

      <tr>
        <td>
          <span
            class="p-column-title">
              First Name
          </span>
          {{ people.firstname }}
        </td>
        <td>
          <span
            class="p-column-title">
              last Name
          </span>
          {{ people.lastname }}
        </td>
        <td>
          <span
            class="p-column-title">
              Age
          </span>
          {{ people.age }}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-divider></p-divider>
<div class="page-content">
<!--  <div class="page-content" style="height: calc(100vh - 149px)">-->
  <div class="card py-4">
    <h2 style="color: green">Flipkart</h2>
    <h4>Angular PrimeNG Table Responsive</h4>
  </div>
  <div class="card">
    <p-table responsiveLayout="stack"
             [paginator]="true"
             [rows]="10"
             [showCurrentPageReport]="true"
             currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
             [rowsPerPageOptions]="[10, 25, 50]"
             [columns]="selectedColumns"
             [value]="products" scrollHeight="500px">
      <ng-template pTemplate="caption">
        <p-multiSelect [options]="colsp" [(ngModel)]="_selectedColumns" optionLabel="header"
                       selectedItemsLabel="{0} columns selected" [style]="{'min-width': '200px'}"
                       placeholder="Choose Columns"></p-multiSelect>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th>Code</th>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData="rowData" sortMode="multiple" let-product let-columns="columns">
        <tr>
          <td>

            <button pButton [label]="product.code" (click)="editProduct(product)" pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProduct(product)"></button>
<!--            <span class="p-column-title text-lg">Code</span>{{product.code}}-->
          </td>
          <td *ngFor="let col of columns">
            <span class="p-column-title text-lg">{{col.header}}</span>
            {{product[col.field]}}
          </td>
        </tr>
      </ng-template>
    </p-table>
    <p-dialog  [header]="selectProduct?.name" [(visible)]="productDialog">
      <div class="card flex align-items-center sm:flex-wrap justify-content-center gap-2">
        <p-card  [header]="selectProduct?.inventoryStatus" [subheader]="selectProduct?.category">
          <ng-template pTemplate="header">
            <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
          </ng-template>
          <div class="card flex align-items-center justify-content-between py-3">
            <div class="flex gap-2 align-items-center justify-content-center ">
              <p-rating [(ngModel)]="ratingStar" [cancel]="false"></p-rating>
            </div>
            <span class="text-2xl">{{selectProduct?.price | currency:'INR'}}</span>
          </div>
          <p>
            {{selectProduct?.description}}
          </p>
          <ng-template pTemplate="footer">
            <div class="flex flex-wrap gap-2 align-items-center justify-content-center">
              <p-button label="Save" icon="pi pi-check"></p-button>
              <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary"></p-button>
            </div>
          </ng-template>
        </p-card>
        <div class="card sm:mt-4">
          <p-timeline [value]="events">
            <ng-template pTemplate="content" let-event>
              <small class="p-text-secondary">{{ event.date }}</small>
            </ng-template>
            <ng-template pTemplate="opposite" let-event>
              {{ event.status }}
            </ng-template>
          </p-timeline>
        </div>
      </div>
    </p-dialog>
  </div>
</div>
